<div class="row text-center">
  <h1>Logged In As<%= current_user.email %></h1>
  <h3><%= link_to "My Orders", orders_path %></h3>
  <h3><%= link_to "Edit User Info", edit_user_path(current_user) %></h3>
  <% if current_user.studio %>
    <% if current_user.studio.pending? %>
      You have applied for a studio on Bomb Photos. Your application is pending. View or edit your application <%= link_to "here", edit_studio_path(current_user.studio) %>
    <% end %>
  <% else %>
    <h5>Want to sell photos on our site? <%= link_to "Sign up here!", new_studio_path %></h3>
  <% end %>
<div>
