<h1 class="text-center">Order #<%= @order.id %></h1>
​<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Total Price</th>
        <th>Placed On</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= format_price(@order.total_price) %></td>
        <td><%= @order.placed_at %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
<h1>Photos Included in This Order</h1>

  <% @order.order_photos.each do |order_photo| %>
  <div class="col-md-offset-2 col-md-7">
    <div class="row product">
      <div class="col-md-5 col-md-offset-0">
        <p><%= image_tag order_photo.photo.image, width: 200 %></p>
      </div>
      <h4><%= link_to order_photo.photo.name, photo_path(order_photo.photo) %></h4>
      <h4><%= format_price(order_photo.photo.price) %></h4>
    </div>
  </div>
  <% end %>
</div>
