<div class="row product photo-show-photo">
    <div class="col-md-offset-1 col-md-4 text-center"><p><%= image_tag @photo.image, width: 400 %></p></div>
      <div class="container col-md-offset-1 col-xs-12 col-md-3 photo-show">
        <h2><%= @photo.name %></h2>
        <p><%= @photo.description %></p>
        <p>Studio: <%= link_to @photo.studio.name, studio_path(@photo.studio) %></p>
        <h3><%= format_price(@photo.price) %></h3>
        <h3><%= link_to @photo.category.name, category_path(@photo.category) %></h3>
        <p>
          <% if @photo.active %>
          <%= link_to "Add to Cart", cart_photos_path(photo_id: @photo.id), method: :post, class: "btn btn-default" %>
          <% else %>
          <h3><%= "Sorry, this photo is no longer available" %></h3>
          <% end %>
        </p>
        <br>
        <% if current_studio_admin? || current_platform_admin? %>
          <p><%= link_to "Edit", edit_admin_photo_path(@photo.studio, @photo.id), class: "btn btn-default" %>
          <% if @photo.active %>
            <p><%= link_to "Deactivate", "/admin/#{@photo.studio.id}/status/#{@photo.id}", method: :patch, class: "btn btn-default" %>
          <% else %>
            <p><%= link_to "Activate", "/admin/#{@photo.studio.id}/status/#{@photo.id}", method: :patch, class: "btn btn-default" %>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
