<div class="container">
  <h1 class="text-center">Manage <%= @studio.slug  %>'s admin</h1>
  <div class="col-md-6">
  <h3 class="text-center">All Admin</h3>
  <table class = "table admin-table">
    <tr>
      <th> Admin ID </th>
      <th> Admin email </th>
      <th> Remove admin</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <% if user.relevent_studio_admin(@studio) %>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= button_to "Revoke admin status for user #{user.id}", "/admin/status/#{user.id}", method: :patch, params: { studio_id: @studio }, class: "btn btn-warning" %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
  </div>

  <div class="col-md-6">
  <h3 class="text-center">All Users</h3>
  <table class = "table customer-table">
    <tr>
      <th> User ID </th>
      <th> User email </th>
      <th> Add Admin</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <% if user.non_admin %>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= button_to "Grant admin status for user #{user.id}", "/admin/status/#{user.id}", method: :patch, params: { studio_id: @studio }, class: "btn btn-success" %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
  </div>
</div>
