<div class="container">
  <h1 class="text-center">Manage <%= current_user.studio.name %>'s admins</h1>
  <div class="col-md-6">
  <h3 class="text-center">All Admin</h3>
  <table class = "table">
    <tr>
      <th> Admin ID </th>
      <th> Admin email </th>
      <th> Remove admin</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <% if user.studio_admin? && user.platform_admin? == false && user.studio == current_user.studio%>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= link_to "Revoke admin status for user #{user.id}", "/admin/status/#{user.id}", method: :patch, class: "btn btn-warning" %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
  </div>

  <div class="col-md-6">
  <h3 class="text-center">All Users</h3>
  <table class = "table">
    <tr>
      <th> User ID </th>
      <th> User email </th>
      <th> Add Admin</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <% if user.studio == nil && user.platform_admin? == false %>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= link_to "Grant admin status for user #{user.id}", "/admin/status/#{user.id}", method: :patch, class: "btn btn-success" %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
  </div>
</div>
