<div class="container">
  <h1 class="text-center">Manage <%= @studio.slug  %>'s admin</h1>
  <div class="col-md-6">
  <h3 class="text-center">All Admin</h3>
  <table class = "table admin-table">
    <tr>
      <th> Admin ID </th>
      <th> Admin email </th>
      <th> Remove admin</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <% if user.relevent_studio_admin(@studio) %>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= button_to "Revoke admin status for user #{user.id}", "/admin/status/#{user.id}", method: :patch, params: { studio_id: @studio }, class: "btn btn-warning" %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
  </div>

  <div class="col-md-6">
    <h3 class="text-center">Grant a User Admin Status</h3>
      <%= form_for :user, url: "/admin/#{@studio.slug}/status", method: "patch", params: { studio_id: @studio.id } do |f| %>
        <%= f.label        :email %>
        <%= f.email_field  :email %>
        <%#= f.hidden_field :studio_slug, "#{@studio.slug}" %>
        <%= f.submit "Grant admin status" %>
      <% end %>
  </div>
</div>
