<div class="container text-center">
<h1>Platform Admin</h1>
<h3>Manage All Studios</h3>
<%= render partial: "partials/studio_links" %>
<br/>
  <table class = "table active_studios">
  <%= render partial: "/partials/studio_table_headers" %>
    <% @studios.each do |studio| %>
      <% if studio.active? %>
    <div class = "active_studios">
     <%= render partial: "/partials/studio_data", locals: {button_text: "Deactivate", method: :patch, studio: studio, path: platform_admin_studio_path(studio)} %>
    </div>
      <% end %>
    <% end %>
  </table>
  <table class = "table inactive_studios">
    <%= render partial: "/partials/studio_table_headers" %>
    <% @studios.each do |studio| %>
      <% if studio.inactive? %>
    <div class = "inactive_studios">
      <%= render partial: "/partials/studio_data", locals: {button_text: "Activate", method: :patch, studio: studio, path: platform_admin_studio_path(studio)} %>
    </div>
      <% end %>
    <% end %>
  </table>
  <table class = "table pending_studios">
    <%= render partial: "/partials/studio_table_headers" %>
    <% @studios.each do |studio| %>
      <% if studio.pending? %>
    <div class = "pending_studios">
      <%= render partial: "/partials/studio_data", locals: {button_text: "Approve/Deny", method: :get, studio: studio, path: "/#{studio.slug}"} %>
    </div>
      <% end %>
    <% end %>
  </table>
  <table class = "table denied_studios">
    <%= render partial: "/partials/studio_table_headers" %>
    <% @studios.each do |studio| %>
      <% if studio.denied? %>
    <div class = "denied_studios">
      <tr>
        <td><%= link_to studio.id, admin_path(studio) %></td>
        <td><%= link_to studio.name, admin_path(studio) %></td>
        <td><%= link_to "View/Edit", admin_path(studio), class: "btn btn-default" %></td>
        <td><%= studio.studio_created_on %></td>
        <td><%= studio.status %></td>
        <td></td>
        <td><%= studio.photos.count %></td>
        <td><%= studio.order_count %></td>
        <td><%= studio.revenue %></td>
      <tr>
    </div>
      <% end %>
    <% end %>
  </table>
</div>
