<h1>Platform Admin</h1>
<h3>Studios</h3>
<table class = "table">
  <tr>
    <th> View/Edit </th>
    <th>ID</th>
    <th>Studio Name</th>
    <th>Created On</th>
    <th>Status</th>
    <th>Actions</th>
    <th>Number of Photos</th>
    <th>Number of Orders</th>
    <th>Studio Revenue</th>
  </tr>
  <% @studios.each do |studio| %>
    <tr>
      <td><%= link_to "View/Edit", admin_path(studio) %></td>
      <td><%= link_to studio.id, admin_path(studio) %></td>
      <td><%= link_to studio.name, admin_path(studio) %></td>
      <td><%= studio.studio_created_on %></td>
      <td><%= studio.status %></td>
      <% if studio.active? %>
        <td><%= button_to "Deactivate", platform_admin_studio_path(studio), method: :patch, class: "btn btn-primary btn-large" %></td>
      <% elsif studio.inactive? %>
        <td><%= button_to "Activate", platform_admin_studio_path(studio), method: :patch, class: "btn btn-primary btn-large" %></td>
      <% elsif studio.pending? %>
        <td><%= link_to "Approve/Deny", studio_path(studio), class: "btn btn-primary btn-large" %></td>
      <% else %>
        <td></td>
      <% end %>
      <td><%= studio.photos.count %></td>
      <td><%= Order.associated_photos(studio).count %></td>
      <td><%= studio.revenue %></td>
    </tr>
  <% end %>
</table>
