<div class="container text-center">
<h1>Platform Admin</h1>
<h3>Manage All Studios</h3>

<h4>click to view by current status:</h4>
<div class="row">
  <div class="col-md-offset-1 col-md-2">
    <%= link_to "All Studios", "active", class: "btn btn-default" %></li>
  </div>
  <div class="col-md-2">
    <%= link_to "Active Studios", "active", class: "btn btn-default" %></li>
  </div>
  <div class="col-md-2">
    <%= link_to "Inactive Studios", "inactive", class: "btn btn-default" %></li>
  </div>
  <div class="col-md-2">
    <%= link_to "Pending Studios", "pending", class: "btn btn-default" %></li>
  </div>
  <div class="col-md-2">
    <%= link_to "Denied Studios", "denied", class: "btn btn-default" %></li>
  </div>
</div>
<br/>
<table class = "table">
  <tr>
    <th>ID</th>
    <th>Studio Name</th>
    <th> View/Edit </th>
    <th>Created On</th>
    <th>Status</th>
    <th>Actions</th>
    <th>Number of Photos</th>
    <th>Number of Orders</th>
    <th>Studio Revenue</th>
  </tr>
  <%= render partial: "partials/studio_type_header", locals: { status: "Active" } %>
  <div id="active_studios">
    <% @studios.each do |studio| %>
      <% if studio.active? %>
        <%= render partial: "partials/studio_data", locals: { studio: studio, button_text: "Deactivate", path: platform_admin_studio_path(studio) } %>
      <% end %>
    <% end %>
  </div>
  <%= render partial: "partials/studio_type_header", locals: { status: "Inactive" } %>
  <div id="inactive_studios">
    <% @studios.each do |studio| %>
      <% if studio.inactive? %>
        <%= render partial: "partials/studio_data", locals: { studio: studio, button_text: "Activate", path: platform_admin_studio_path(studio) } %>
      <% end %>
    <% end %>
  </div>
  <%= render partial: "partials/studio_type_header", locals: { status: "Pending" } %>
  <div id="pending_studios">
    <% @studios.each do |studio| %>
      <% if studio.pending? %>
      <tr>
        <td><%= link_to studio.id, admin_path(studio) %></td>
        <td><%= link_to studio.name, admin_path(studio) %></td>
        <td><%= link_to "View/Edit", admin_path(studio), class: "btn btn-default" %></td>
        <td><%= studio.studio_created_on %></td>
        <td><%= studio.status %></td>
        <td><%= link_to "Approve/Deny", "/#{studio.slug}", class: "btn btn-default" %></td>
        <td><%= studio.photos.count %></td>
        <td><%= studio.order_count %></td>
        <td><%= studio.revenue %></td>
      <tr>
      <% end %>
    <% end %>
  </div>
  <%= render partial: "partials/studio_type_header", locals: { status: "Denied" } %>
  <div id="denied_studios">
    <% @studios.each do |studio| %>
      <% if studio.denied? %>
        <tr>
          <td><%= link_to studio.id, admin_path(studio) %></td>
          <td><%= link_to studio.name, admin_path(studio) %></td>
          <td><%= link_to "View/Edit", admin_path(studio), class: "btn btn-default" %></td>
          <td><%= studio.studio_created_on %></td>
          <td><%= studio.status %></td>
          <td></td>
          <td><%= studio.photos.count %></td>
          <td><%= studio.order_count %></td>
          <td><%= studio.revenue %></td>
        <tr>
      <% end %>
    <% end %>
  </div>
</table>
</div>
